[user]
  name = succi0303
  email = succi0303@gmail.com
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[alias]
  tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[color]
  ui = auto
[push]
	default = matching
[github]
	user = succi0303
