[user]
	name = succi0303
	email = succi0303@gmail.com
[core]
	excludesfile = /Users/succi0303/.gitignore
  autocrlf = input
	quotepath = false
[alias]
  tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[color]
  ui = auto
[push]
	default = matching
[github]
	user = succi0303
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
  root = ~/Dropbox/repos
