[user]
	name = {{ .name }}
	email = {{ .email }}

[color]
	ui = auto

[ghq]
	root=~/ghq

[commit]
	verbose = true

[init]
	defaultBranch = main

[push]
	default = current

[pull]
	rebase = true
	ff = only

[status]
	showUntackedFiles = all

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
        helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{   end }}
{{ end }}
