{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/services"

brew "anyenv"
brew "awscli"
brew "chezmoi"
brew "curl"
brew "fzf"
brew "ghq"
brew "git"
brew "git-secrets"
brew "jq"
brew "starship"
brew "tig"
brew "tmux"
brew "vim"
brew "wget"

#cask "alfred"
cask "firefox"
cask "google-chrome"
#cask "iterm2"
cask "karabiner-elements"
#cask "visual-studio-code"

EOF
{{ end -}}
